<tr>
  <td class = 'name'>
    <%= link_to order.name, '' %>
  </td>
  <td class = 'description'>
    <%= order.description %>
  </td>
  <td class = 'paid'>
    <%= order.paid %>
  </td>
  <td class = 'team'>
    <%= link_to order.team, '' %>
  </td>
  <td class = 'invoiced_budget'>
    <%= order.invoiced_budget %>
  </td>
  <td class = 'free_budget'>
    <%= order.free_budget %>
  </td>
</tr>
