<%= render partial: 'action_menu' %>
<h2><%= l(:label_invoice_heading) + " #{@invoice.id}" %> </h2>
<div class="issue details">
  <div class="subject"><h3><%= @invoice.external_id %></h3></div>
  <table class="attributes">
    <%= invoice_fields_rows do |rows|

      if @invoice.attributes.include? 'total'
        rows.left l(:field_total), @invoice.total, :class => 'total'
      end

      if @invoice.attributes.include? 'paid'
        rows.right l(:field_paid), get_paid_icon(@invoice), :class => 'paid'
      end

    end %>
  </table>
  <% if User.current.tocat_allowed_to?(:show_orders) %>
    <hr />
    <div id="orders_tree">
      <div class="contextual" style="font-size: 1.1em">
        <% if User.current.tocat_allowed_to?(:create_orders) %>
          <div id="add-order-button">
            <%= link_to(l(:button_add), '#', onclick: "showOrderSelect(this);return false;") %>
          </div>
          <div id="add-order-select" style="display: none">
            <%= form_tag(attach_order_invoice_path(@invoice), id: 'add-order-form') do %>
              <%= select_tag('order_id', options_for_select(@available_orders), prompt: 'Select order', class: 'hidden', onchange: "attachOrder(this);") %>
            <% end %>
          </div>
        <% end %>
      </div>
      <p><strong><%=l(:label_order_plural)%></strong></p>
      <%= render :partial => 'orders' if @invoice.orders.present? %>
    </div>
  <% end %>
  <% if User.current.tocat_allowed_to?(:show_activity_feed) %>
    <% activities = @invoice.activity %>
    <% if activities.any? %>
      <hr />
      <div id="activity">
        <p><strong><%=l(:label_activity)%></strong></p>
        <%= render :partial => 'activity/feed', locals: {activities: activities } %>
      </div>
    <% end %>
  <% end %>
</div>
<div style="clear: both;"></div>
<%= render partial: 'action_menu' %>
<div style="clear: both;"></div>
<% if @invoice.editable? %>
    <div id="update" style="display:none;">
      <h3><%= l(:button_edit) %></h3>
      <%= render :partial => 'edit' %>
    </div>
<% end %>

<% html_title "TOCAT: Invoice ##{@invoice.id}" %>

<script>
  function showOrderSelect(elem) {
    jQuery(elem).hide();
    jQuery('#add-order-select').show();
  }

  function attachOrder(select) {
    jQuery('#add-order-form').submit();
  }
</script>
