<%= render partial: 'action_menu' %>
<h2><%= l(:label_invoice_heading) + " #{@invoice.id}" %> </h2>
<div class="issue details">
  <div class="subject"><h3><%= @invoice.external_id %></h3></div>
  <table class="attributes">
    <%= invoice_fields_rows do |rows|

      if @invoice.attributes.include? 'total'
        rows.left l(:field_total), @invoice.total, :class => 'total'
      end

      if @invoice.attributes.include? 'paid'
        rows.right l(:field_paid), get_paid_icon(@invoice), :class => 'paid'
      end

    end %>
  </table>
  <% if User.current.tocat_allowed_to?(:show_orders) %>
    <hr />
    <div id="orders_tree">
      <div class="contextual"><%= link_to l(:button_add), new_order_path if User.current.tocat_allowed_to?(:create_orders) %></div>
      <p><strong><%=l(:label_order_plural)%></strong></p>
      <%= render :partial => 'orders' if @invoice.orders.present? %>
    </div>
  <% end %>
  <% if User.current.tocat_allowed_to?(:show_activity_feed) %>
    <% activities = @invoice.activity %>
    <% if activities.any? %>
      <hr />
      <div id="activity">
        <p><strong><%=l(:label_activity)%></strong></p>
        <%= render :partial => 'activity/feed', locals: {activities: activities } %>
      </div>
    <% end %>
  <% end %>
</div>
<div style="clear: both;"></div>
<%= render partial: 'action_menu' %>
<div style="clear: both;"></div>

<% html_title "TOCAT: Invoice ##{@invoice.id}" %>
