<div class = 'autoscroll'>
  <% records = @issue.budgets %>
  <% ticket = @issue.tocat %>
  <% if records.present? %>
    <table class = 'list issues'  style="text-align: center;">
      <thead><tr>
            <td><%= l(:label_name) %></td>
            <td><%= l(:label_invoiced_budget) %></td>
            <td><%= l(:label_allocatable_budget) %></td>
            <td><%= l(:label_free_budget) %></td>
            <td><%= l(:label_budget) %></td>
            <td><%= l(:label_paid) %></td>
            <td></td>
            <td></td>
          </tr>
      </thead>
      <tbody>
        <%@issue.budgets.each do |order| %>
          <tr id='<%= order.id %>' class = '<%= cycle('odd', 'even')%> issue'>
            <td class = 'name'>
              <%= link_to order.name, order_path(order.id) %>
            </td>
            <td class = 'invoiced_budget'>
              <%= order.invoiced_budget %>
            </td>
            <td class = 'allocatable_budget'>
              <%= order.allocatable_budget %>
            </td>
            <td class = 'free_budget'>
              <%= order.free_budget %>
            </td>
            <td class = 'budget'>
              <%= order.budget %>
            </td>
            <td class = 'paid'>
              <%= order.paid ? image_tag('true.png') : image_tag('false.png') %>
            </td>
            <% if ticket.expenses? %>
              <td></td>
              <td></td>
            <% else %>
              <td>
                <span class='icon icon-edit' style='cursor:pointer;' onclick='edit_order(this)'></span>
              </td>
              <td>
                <span class='icon icon-del' style='cursor:pointer;' onclick='delete_order(this)'></span>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
</div>



<script>
  function edit_order(e){
    jQuery.noConflict().ajax('<%= tocat_budget_path %>', {
      asynchronous: true,
      method: 'get',
      beforeSend: function( xhr ) {
        jQuery.noConflict()('#ajax-indicator').show();
      },
      data: {
        'issue_id': <%= @issue.id%>,
        'order_id': +e.parentElement.parentElement.id
      },
      success: function(data) {
        jQuery.noConflict()('#ajax-indicator').hide();
      },
      error: function(data) {;
        jQuery.noConflict()('#ajax-indicator').hide();
      }
    });
  };

  function delete_order(e){
    if (confirm("Are you sure you want to delete budget?")) {
      jQuery.noConflict().ajax('<%= tocat_budget_path %>', {
        asynchronous: true,
        method: 'delete',
        data: {
          'issue_id': <%= @issue.id%>,
          'order_id': +e.parentElement.parentElement.id
        },
        beforeSend: function( xhr ) {
          jQuery.noConflict()('#ajax-indicator').show();
        },
        success: function(data) {
          document.getElementById('orders_box').innerHTML = data.responseText;
          var orders = JSON.parse(jQuery.noConflict()('#teams').val())
          jQuery.noConflict()('#ajax-indicator').hide();
        },
        error: function(data) {
          document.getElementById('orders_box').innerHTML = data.responseText;
          var orders = JSON.parse(jQuery.noConflict()('#teams').val())
          jQuery.noConflict()('#ajax-indicator').hide();
        }
      });
    }
  };
</script>
