<table class='attributes'>
  <% ticket = @issue.tocat %>
  <tr>
    <th>
      <%=l(:label_tocat_budget)%>
    </th>
    <td>
      <%= ticket.get_budget %>
    </td>
    <% unless ticket.expenses %>
      <th>
        <%=l(:label_tocat_resolver)%>
      </th>
      <td>
        <% if User.current.tocat_allowed_to?(:modify_resolver) %>
          <% if ticket.get_resolver %>
            <% if @issue.available_resolvers.map(&:id).include?(ticket.get_resolver.id) %>
              <%= select_tag "resolver", options_from_collection_for_select(@issue.available_resolvers, "id", "name", selected: ticket.get_resolver.id ), include_blank: true, onChange: 'set_resolver(this)' %>
            <% else %>
              <%= ticket.get_resolver.name if ticket.get_resolver.present? %>
            <% end %>
          <% else %>
            <%= select_tag "resolver", options_from_collection_for_select(@issue.available_resolvers, "id", "name"), include_blank: true, onChange: 'set_resolver(this)' %>
          <% end %>
        <% else %>
        <%= ticket.get_resolver.name if ticket.get_resolver.present? %>
        <% end %>
      </td>
    <% end %>
  </tr>
  <tr>
    <th>
      <%=l(:label_tocat_accepted)%>
    </th>
    <td class='paid'>
      <% if User.current.tocat_allowed_to?(:modify_accepted)%>
        <%= link_to(issue_accepted_path(@issue.id), :data => {:confirm => l(:confirm_issue_accepted)}, :method => :put) do %>
          <%= ticket.get_accepted ? image_tag('true.png') : image_tag('false.png') %>
        <% end %>
      <% else %>
        <%= ticket.get_accepted ? image_tag('true.png') : image_tag('false.png') %>
      <% end %>
    </td>
    <th>
      <%=l(:label_tocat_paid)%>
    </th>
    <td>
      <%= ticket.get_paid ? image_tag('true.png') : image_tag('false.png') %>
    </td>
  </tr>
  <% if @issue.review_requested && User.current.tocat_allowed_to?(:can_review_task)%>
    <tr>
      <th>
        <%= l(:label_review_requested) %>
      </th>
      <td>
        <p id="review">
          <input type="submit" value="<%= l(:label_yes)%>" onClick="review_requested_clicked(this); return false;">
          <span id="load" class="icon icon-load" style=" background-image: url(../images/loading.gif); display: none"></span>
        </p>
        <script charset="utf-8">
        function review_requested_clicked(elem){
          var spiner = elem.next();
          new Ajax.Request('/tocat/review_handler', {
              asynchronous: true,
              method: 'put',
              parameters: {
                  'issue_id': "<%= @issue.id%>",
                  'status' : <%= !@issue.review_requested %>
              },
              onLoading: function () {
                  $$('#ajax-indicator')[0].hide();
                  spiner.show();
                  elem.setValue("Loading...");
                  elem.disabled();
              },
              onSuccess: function () {
                  spiner.hide();
                  elem.setValue("Success!");
                  elem.disable()
              },
              onFailure: function () {
                  spiner.hide();
                  elem.setValue("Please, try again");
                  elem.enabled();
                  alert("Status:" + transport.status + " Message: " + transport.responseText);
              }
          });
        }
        </script>
      <td>
    </tr>
  <% end %>
  <tr>
    <% if ticket.resolver.id.nil? %>
      <th>
        <%=l(:label_tocat_expenses)%>
      </th>
      <td>
        <% if ticket.expenses %>
          <% if User.current.tocat_allowed_to?(:remove_expenses) %>
           <%= link_to(remove_expenses_path(@issue.id), :data => {:confirm => l(:confirm_issue_expenses_remove)}, :method => :delete) do %>
             <%= image_tag('true.png') %>
           <% end %>
          <% else %>
             <%= image_tag('true.png') %>
          <% end %>
        <% else %>
          <% if User.current.tocat_allowed_to?(:set_expenses) %>
           <%= link_to(set_expenses_path(@issue.id), :data => {:confirm => l(:confirm_issue_expenses)}, :method => :post) do %>
             <%= image_tag('false.png') %>
           <% end %>
          <% else %>
             <%= image_tag('false.png') %>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>
