<table class='attributes'>
  <% ticket = @issue.tocat %>
  <tr>
    <th>
      <%=l(:label_tocat_budget)%>
    </th>
    <td>
      <%= ticket.get_budget %>
    </td>
    <th>
      <%=l(:label_tocat_resolver)%>
    </th>
    <td>
      <% if User.current.tocat_allowed_to?(:modify_resolver)%>
        <% if ticket.get_resolver %>
          <%= select_tag "resolver", options_from_collection_for_select(@issue.available_resolvers, "id", "name", selected: ticket.get_resolver.id ), include_blank: true, onChange: 'set_resolver(this)' %>
        <% else %>
          <%= select_tag "resolver", options_from_collection_for_select(@issue.available_resolvers, "id", "name"), include_blank: true, onChange: 'set_resolver(this)' %>
        <% end %>
      <% else %>
      <%= ticket.get_resolver.name if ticket.get_resolver.present? %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>
      <%=l(:label_tocat_accepted)%>
    </th>
    <td class='paid'>
      <% if User.current.tocat_allowed_to?(:modify_accepted)%>
        <%= link_to(issue_accepted_path(@issue.id), :data => {:confirm => l(:confirm_issue_accepted)}, :method => :put) do %>
          <%= ticket.get_accepted ? image_tag('true.png') : image_tag('false.png') %>
        <% end %>
      <% else %>
        <%= ticket.get_accepted ? image_tag('true.png') : image_tag('false.png') %>
      <% end %>
    </td>
    <th>
      <%=l(:label_tocat_paid)%>
    </th>
    <td>
      <%= ticket.get_paid ? image_tag('true.png') : image_tag('false.png') %>
    </td>
  </tr>
</table>
