<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script charset="utf-8">
jQuery.noConflict().ajaxPrefilter(function (options, originalOptions, jqXHR) {
  jqXHR.setRequestHeader('X-CSRF-Token', jQuery.noConflict()('meta[name=csrf-token]').attr('content'));
});
</script>
<% if User.current.tocat_allowed_to?(:show_budgets)# FIXME manage_tocat instead of show_orders %>
  <hr/>
  <div id="tocat">
    <p><strong><%=l(:label_tocat_data)%></strong></p>
    <span id = 'tocat_box'><%= render :partial => 'tocat_data' %></span>
  </div>

  <script>
  function set_resolver(e){
    var data = {
                resolver_id:+e.value,
                issue_id:<%= @issue.id %>
                }
   jQuery.noConflict().ajax({
      type: "POST",
      url: "<%= tocat_resolver_path %>",
      data: data,
      beforeSend: function( xhr ) {
        jQuery.noConflict()('#ajax-indicator').show();
      },
      success: function(data) {
        document.getElementById('orders_box').innerHTML = data[0];
        document.getElementById('tocat_box').innerHTML = data[1];
        //var orders = JSON.parse(jQuery.noConflict()('#teams').val())
        jQuery.noConflict()('#ajax-indicator').hide();
      },
      error: function(data) {;
        alert(data.responseText);
        jQuery.noConflict()('#ajax-indicator').hide();
      },
      dataType: 'JSON'
    });
  };
  </script>
<% elsif  User.current.tocat_allowed_to?(:show_aggregated_info) %>
  <hr/>
  <div id="tocat">
    <p><strong><%=l(:label_tocat_data)%></strong></p>
    <table class='attributes'>
      <% ticket = @issue.tocat %>
      <tr>
        <th>
          <%=l(:label_tocat_budget)%>
        </th>
        <td>
          <%= ticket.get_budget %>
        </td>
        <th>
          <%=l(:label_tocat_resolver)%>
        </th>
        <td>
          <%= ticket.get_resolver.name if ticket.get_resolver.present? %>
        </td>
      </tr>
      <tr>
        <th>
          <%=l(:label_tocat_accepted)%>
        </th>
        <td class='paid'>
          <%= ticket.get_accepted ? image_tag('true.png') : image_tag('false.png') %>
        </td>
        <th>
          <%=l(:label_tocat_paid)%>
        </th>
        <td>
          <%= ticket.get_paid ? image_tag('true.png') : image_tag('false.png') %>
        </td>
      </tr>
      <tr>
        <th>
          <%=l(:label_review_requested_question)%>
        </th>
        <td>
          <%= @issue.review_requested ? image_tag('true.png') : image_tag('false.png') %>
        </td>
      </tr>
    </table>
  </div>
<% end %>

<% if User.current.tocat_allowed_to?(:modify_budgets) %>
<style>
.link:hover{text-decoration: underline;}
.link{cursor: pointer;color: #169;}
</style>
  <hr/>
  <div id="orders_tree">
    <div class="contextual">
      <% if User.current.tocat_allowed_to?(:edit_orders) && !@issue.tocat.expenses? %>
        <span class='link' onclick="budget_dialog()"><%= l(:button_add) %></span>
        <% ticket = @issue.tocat %>
        <% if ticket.get_resolver.present?
          resolver = TocatUser.find(ticket.resolver.id)
            params = {:name => "#{@issue.project.name} #{@issue.id}",
                      :team => resolver.tocat_team.id,
                      :redirect_to => "issues:show:#{ticket.id}:#{@issue.id}"}
          else
            params = {:name => "#{@issue.project.name} #{@issue.id}",
                      :redirect_to => "issues:show:#{ticket.id}:#{@issue.id}"}
          end
            %>
        <%= link_to "Create", new_order_path(params), :class => 'icon icon-add' if User.current.tocat_allowed_to?(:create_orders) %>
      <% end %>
    </div>
    <p><strong><%=l(:label_order_plural)%></strong></p>
    <span id = 'orders_box'><%= render :partial => 'orders' %></span>
  </div>


  <script charset="utf-8">
    function createBudget(){
      var data = {
                  budget:jQuery.noConflict()("#budget").val(),
                  order_id:jQuery.noConflict()('#orders').val(),
                  issue_id:<%= @issue.id %>
                  }
      jQuery.noConflict().ajax({
        type: "POST",
        url: "<%= tocat_budget_path %>",
        data: data,
        beforeSend: function( xhr ) {
          jQuery.noConflict()('#ajax-indicator').show();
        },
        success: function(data) {
          document.getElementById('orders_box').innerHTML = data[0];
          document.getElementById('tocat_box').innerHTML = data[1];
          var orders = JSON.parse(jQuery.noConflict()('#teams').val())
          hideModal();
          jQuery.noConflict()('#ajax-indicator').hide();
        },
        error: function(data) {
          alert(JSON.parse(data.responseText).errors.join(', '));
          jQuery.noConflict()('#ajax-indicator').hide();
        },
        dataType: 'JSON'
      });
    };

    function budget_dialog(){
      jQuery.noConflict().ajax('<%= tocat_budget_path %>', {
        asynchronous: true,
        method: 'get',
        data: {
          'issue_id': <%= @issue.id%>
        },
        beforeSend: function( xhr ) {
          jQuery.noConflict()('#ajax-indicator').show();
        },
        success: function(data) {
          jQuery.noConflict()('#ajax-indicator').hide();
        },
        error: function(data) {;
          jQuery.noConflict()('#ajax-indicator').hide();
        },
      });
    };
  </script>
<% end %>
