<table>
  <tbody>
    <tr>
      <th><%= l(:label_tocat_server_address) %></th>
      <td>
        <input type="text" id="host" value="<%= @settings['host'] %>" name="settings[host]" >
      </td>
    </tr>
    <tr>
        <th><%= l(:label_tocat_company_name) %></th>
        <td>
          <input type="text" id="host" value="<%= @settings['company'] %>" name="settings[company]" >
        </td>
     </tr>
    <tr>
        <th><%= l(:label_tocat_apikey) %></th>
        <td>
          <input type="text" id="host" value="<%= @settings['apikey'] %>" name="settings[apikey]" >
        </td>
     </tr>

    <tr>
        <th><%= l(:label_tocat_zoholink) %></th>
        <td>
          <input type="text" id="host" value="<%= @settings['zoholink'] %>" name="settings[zoholink]" >
        </td>
     </tr>
    <span><%= l(:label_host_change) %></span>
  </tbody>
</table>


<% html_title(l(:label_settings), l(:label_tocat_client)) -%>
