<div class="contextual">
  <%= link_to l(:button_edit), edit_order_path(@order), :onclick => 'showAndScrollTo("update", "issue_notes"); return false;', :class => 'icon icon-edit' if User.current.tocat_allowed_to?(:edit_orders) %>

  <% if User.current.tocat_allowed_to?(:create_orders) %>
    <%= link_to l(:button_split), new_order_path(split: @order.id), :class => 'icon icon-copy' unless @order.parent %>
  <% end %>
  <% if User.current.tocat_allowed_to?(:complete_orders) %>
    <% unless @order.parent %>
      <% if @order.completed %>
        <%= link_to l(:button_uncomplete), order_uncomplete_path(@order), :data => {:confirm => l(:confirm_order_uncompleted)}, :method => :delete, :class => 'icon icon-checked' %>
      <% else %>
        <%= link_to l(:button_complete), order_complete_path(@order), :data => {:confirm => l(:confirm_order_completed)}, :method => :put, :class => 'icon icon-checked' %>
      <% end %>
    <% end %>
  <% end %>
  <% if User.current.tocat_allowed_to?(:destroy_orders) %>
    <%= link_to l(:button_delete), '', :data => {:confirm => l(:confirm_order_destroy)}, :method => :delete, :class => 'icon icon-del' unless @order.sub_orders.present? %>
  <% end %>
</div>
