<div class="contextual">
  <%= link_to l(:button_edit), edit_order_path(@order), :onclick => 'showAndScrollTo("update", "issue_notes"); return false;', :class => 'icon icon-edit' if User.current.tocat_allowed_to?(:edit_orders) && !@order.completed %>

  <% if User.current.tocat_allowed_to?(:complete_orders) %>
    <% unless @order.parent %>
      <% unless @order.completed %>
        <% if @order.paid  %>
          <%= link_to l(:button_complete), order_complete_path(@order), :data => {:confirm => l(:confirm_order_completed)}, :method => :post, :class => 'icon icon-checked' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if User.current.tocat_allowed_to?(:set_internal_orders) %>
    <% unless @order.invoice.try(:id) || @order.parent_order.try(:id) %>
        <% unless @order.internal_order %>
            <%= link_to l(:button_internal), order_set_internal_path(@order), :data => {:confirm => l(:confirm_order_internal)}, :method => :put, :class => 'fi-arrows-in green'%>
        <% else %>
          <% if User.current.tocat_allowed_to?(:remove_internal_orders) && !@order.completed? %>
            <%= link_to l(:button_internal_remove), order_set_internal_path(@order), :data => {:confirm => l(:confirm_order_uninternal)}, :method => :delete, :class => 'fi-arrows-out red' %>
          <% end %>
        <% end %>
    <% end %>
  <% end %>
  <% unless @order.completed %>
    <% if @order.reseller %>
      <%= link_to l(:button_remove_reseller), order_reseller_path(@order), :data => {:confirm => l(:confirm_reseller_set)}, :method => :delete, :class => 'icon icon-checked' if User.current.tocat_allowed_to?(:reseller_orders) %>
    <% else %>
      <%= link_to l(:button_set_reseller), order_reseller_path(@order), :data => {:confirm => l(:confirm_reseller_unset)}, :method => :put, :class => 'icon icon-checked' if User.current.tocat_allowed_to?(:reseller_orders) %>
    <% end %>
  <% end %>

  <a href=<%= order_export_path(@order)%>>
  <i class='fi-page-export-csv medium'> </i>
  Export
  </a>
  
  <%= delete_link(@order)  %>
</div>
