<div class="contextual">
  <%= link_to l(:button_edit), edit_order_path(@order), :onclick => 'showAndScrollTo("update", "issue_notes"); return false;', :class => 'icon icon-edit' if User.current.tocat_allowed_to?(:edit_orders) && !@order.completed %>

  <% if User.current.tocat_allowed_to?(:create_orders) && !@order.parent && @order.completed == false %>
    <%= link_to l(:button_split), new_order_path(split: @order.id, name: "#{@order.name} split"), :class => 'icon icon-copy' %>
  <% end %>
  <% if User.current.tocat_allowed_to?(:complete_orders) %>
    <% unless @order.parent %>
      <% unless @order.completed %>
        <% unless @order.internal_order && @order.free_budget > 0 %>
          <% if @order.paid  %>
              <%= link_to l(:button_complete), order_complete_path(@order), :data => {:confirm => l(:confirm_order_completed)}, :method => :put, :class => 'icon icon-checked' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if User.current.tocat_allowed_to?(:set_internal_orders) %>
    <% unless @order.invoice.try(:id) || @order.parent_order.try(:id) %>
        <% unless @order.internal_order %>
            <%= link_to l(:button_internal), order_set_internal_path(@order), :data => {:confirm => l(:confirm_order_internal)}, :method => :put, :class => 'fi-arrows-in green'%>
        <% else %>
          <% if User.current.tocat_allowed_to?(:remove_internal_orders) %>
            <%= link_to l(:button_internal_remove), order_set_internal_path(@order), :data => {:confirm => l(:confirm_order_uninternal)}, :method => :delete, :class => 'fi-arrows-out red' %>
          <% end %>
        <% end %>
    <% end %>
  <% end %>
  
  <%= delete_link(@order)  %>
</div>
