<%if @order.new_record?
    url = orders_path
  else
    url = order_path(@order.id)
  end %>
<% if params[:order].nil?
    name = @order.name
    des = @order.description
    team = @order.get_team.id
    i_budget = @order.invoiced_budget
    a_budget = @order.allocatable_budget
  else
    name = params[:order][:name]
    des = params[:order][:description]
    team = params[:order][:team]
    i_budget = params[:order][:invoiced_budget]
    a_budget = params[:order][:allocatable_budget]
  end
 %>
<%= labelled_form_for @order, url: url, :html => {:id => 'order-form', :multipart => true} do |f| %>
    <%= error_messages_for @order if @order.present?%>
    <div class="box">
      <fieldset class="tabular"><legend><%= l(:label_change_properties) %></legend>
      <div id="all_attributes">
        <%= labelled_fields_for :order, @order do |f| %>
          <% unless @order.internal_order? || @order.invoice.id.present? %>
            <% if User.current.tocat_allowed_to?(:edit_orders) %>
              <p id="parent_order">
                <%= f.text_field :parent_id, :size => 10, label: 'Parent' %>
                <%= javascript_tag "observeParentOrderField('order_parent_id', '#{escape_javascript auto_complete_parent_orders_path(order_id: @order.id) }')" %>
              </p>
            <% end %>
          <% end %>
          <p><%= f.text_field :name, :size => 80, :maxlength => 255, :required => true, :value => name %></p>

          <p>
            <%= f.label_for_field :description %>
            <%= f.text_area :description,
                            :cols => 60,
                            :rows => 10,
                            :accesskey => accesskey(:edit),
                            :class => 'wiki-edit',
                            :no_label => true,
                            :value => des %>
          </p>
          <% if User.current.tocat_allowed_to?(:update_commission) %>
            <% unless @order.internal_order? || (@order.parent && @order.parent.internal_order?) %>
              <p>
                <%= f.text_field :commission %>
              </p>
            <% end %>
          <% end %>
          <p>
            <%= f.select :team, options_for_select([['Select Team', 0]] + @groups.collect {|t| [t.name, t.id]}, selected: team.blank? ? 0 : team, disabled: 0),
                                { :required => true }, {} %>
          </p>
          <p><%= f.number_field :invoiced_budget, :class => 'invoiced_budget', :step => 0.01, :required => true, :value => i_budget %></p>
          <p><%= f.number_field :allocatable_budget, :class => 'allocatable_budget', :step => 0.01, :required => true, :value => a_budget %></p>
        <% end %>
      </div>
      </fieldset>
    </div>
    <%= submit_tag l(:button_submit) %>
    | <%= link_to l(:button_cancel), {}, :onclick => "jQuery.noConflict()('#update').hide(); return false;" %>
<% end %>
