<p><strong><%=l(:label_invoice)%></strong></p>
<% if @order.reload.get_invoice.present? %>
  <% invoice = @order.reload.get_invoice%>
  <div class = 'autoscroll'>
    <table class = 'list issues' style="text-align: center;">
      <thead><tr>
        <td>#</td>
        <td><%= l(:label_total) %></td>
        <td><%= l(:label_paid) %></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr id='<%= invoice.id %>' class = 'even issue'>
        <td class = 'id'>
          <%= link_to invoice.external_id, invoice_path(invoice.id) %>
        </td>
        <td class = 'total'>
          <%= invoice.total %>
        </td>
        <td class = 'paid'>
          <%= get_paid_icon(invoice) %>
        </td>
        <% if User.current.tocat_allowed_to?(:create_invoices) %>
          <td><%= link_to l(:button_delete), order_invoices_path, :data => {:confirm => l(:confirm_invoice_deattach)}, :method => :delete, :class => 'icon icon-del' %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
  </div>
<% end %>
