<div class = 'autoscroll'>
  <table class = 'list issues' style="text-align: left;">
    <thead><tr>
      <td><%= l(:label_subject) %></td>
      <td><%= l(:label_budget) %></td>
      <td><%= l(:label_tocat_expenses) %></td>
      <td><%= l(:label_accepted) %></td>
      <td><%= l(:label_resolver) %></td>
      <td><%= l(:label_action) %></td>
    </tr>
  </thead>
  <tbody>
    <% issues.each do |issue| %>
    <tr id='<%= issue.id %>' class = '<%= cycle('odd', 'even')%> issue' style='text-align: left;'>
      <td class = 'name'>
        <%= link_to issue.subject, issue.id %>
      </td>
      <td class = 'budget'>
        <%= issue.budget %>
      </td>

      <td class = 'expenses'>
        <p>
        <%= issue.expenses  ? 'Yes' : 'No' %>
        </p>
      </td>

      <td class = 'accepted'>
        <%= issue.accepted ? image_tag('true.png') : image_tag('false.png') %>
      </td>

      <td class = 'resolver'>
        <% if issue.resolver.present? %>
          <%= link_to issue.resolver.name, {:controller => 'tocat', :action => 'my_tocat', :user_id => issue.resolver.id}%>
        <% end %>
      </td>
      <td class = 'delete issue'>
            <%= link_to 'Delete',  { controller: 'tickets', action: :destroy, id: issue.issue_id },
                        method: :delete,
                        class: 'icon icon-del btn button',
                        data: { confirm: 'Are you sure that you want delete it?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
