<div class = 'autoscroll'>
  <table class = 'list issues' style="text-align: center;">
    <thead><tr>
      <td>#</td>
      <td><%= l(:label_subject) %></td>
      <td><%= l(:label_project) %></td>
      <td><%= l(:label_budget) %></td>
      <td><%= l(:label_resolver) %></td>
    </tr>
  </thead>
  <tbody>
    <%issues.each do |issue| %>
    <tr id='<%= issue.id %>' class = '<%= cycle('odd', 'even')%> issue'>
      <td class = 'id'>
        <%= link_to issue.id, issue_path(issue.id) %>
      </td>
      <td class = 'name'>
        <%= link_to issue.subject, issue_path(issue.id) %>
      </td>
      <td class = 'project'>
        <%= link_to issue.project.name, project_path(issue.project.id) %>
      </td>
      <td class = 'budget'>
        <%= issue.tocat.get_budget %>
      </td>
      <td class = 'resolver'>
        <%= issue.tocat.get_resolver.name if issue.tocat.get_resolver.present? %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
