<div class = 'autoscroll'>
  <table class = 'list issues' style="text-align: center;">
    <thead><tr>
      <td><%= l(:label_name) %></td>
      <td><%= l(:label_invoiced_budget) %></td>
      <td><%= l(:label_allocatable_budget) %></td>
      <td><%= l(:label_free_budget) %></td>
    </tr>
  </thead>
  <tbody>
    <%orders.each do |order| %>
    <tr id='<%= order.id %>' class = '<%= cycle('odd', 'even')%> issue'>
      <td class = 'name' style='text-align: left;'>
        <%= link_to order.name, order_path(order.id) %>
      </td>
      <td class = 'invoiced_budget'>
        <%= order.invoiced_budget %>
      </td>
      <td class = 'allocatable_budget'>
        <%= order.allocatable_budget %>
      </td>
      <td class = 'free_budget'>
        <%= order.free_budget %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
