<% if @order.parent_order.present?
    url = suborder_path
  else
    url = orders_path
  end %>
<%= labelled_form_for @order, url: url, :html => {:id => 'order-form', :multipart => true} do |f| %>
    <div class="box">
      <fieldset class="tabular"><legend><%= l(:label_change_properties) %></legend>
      <div id="all_attributes">
        <%= labelled_fields_for :order, @order do |f| %>
          <p><%= f.text_field :name, :size => 80, :maxlength => 255, :required => true %></p>
          <p><%= f.check_box :internal_order %></p>

          <% if User.current.tocat_allowed_to?(:update_commission) %>
            <p>
              <%= f.label_for_field :commission %>
              <%= f.text_field :commission %>
            </p>
          <% end %>

          <p>
            <%= f.label_for_field :description %>
            <%= f.text_area :description,
                            :cols => 60,
                            :rows => 10,
                            :accesskey => accesskey(:edit),
                            :class => 'wiki-edit',
                            :no_label => true %>
          </p>
          <% if params[:team].present? %>
            <p><%= f.select :team,options_for_select(@groups.collect {|t| [t.name, t.id]}, :selected => params[:team]),{}, :disabled => true %></p>
            <%= f.hidden_field :team %>
          <% else %>
            <p><%= f.select :team, options_for_select(@groups.collect {|t| [t.name, t.id]}, @order.team ), {:required => true} %></p>
          <% end %>
          <p><%= f.number_field :invoiced_budget, :class => 'invoiced_budget', :step => 0.01, :required => true %></p>
          <p><%= f.number_field :allocatable_budget, :class => 'allocatable_budget', :step => 0.01, :required => true %></p>
          <% if @order.parent_order.present?%>
            <%= f.hidden_field :parent_order, value: @order.parent_order %>
          <% end %>
        <% end %>
        <% if params[:redirect_to].present? %>
          <%= hidden_field_tag 'redirect_to', params[:redirect_to] %>
          <p><%= label_tag "Task budget" %> <%= number_field_tag :budget, '', :class => 'budget', :step => 0.01, :required => true, :disabled => true %></p>
          <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
          <script charset="utf-8">jQuery.noConflict();</script>
          <script>
          jQuery.noConflict()(function(){
            jQuery.noConflict()('.allocatable_budget').on('change', function() {
              jQuery.noConflict()(".budget").prop('max',+jQuery.noConflict()('.allocatable_budget').val());
              jQuery.noConflict()(".budget").prop('disabled', false);
            });
          })
           </script>
        <% end %>
      </div>
      </fieldset>
    </div>
    <%= submit_tag l(:button_submit) %>
    | <%= link_to l(:button_cancel), {}, :onclick => "jQuery.noConflict()('#update').hide(); return false;" %>
<% end %>
