<% url = orders_path %>
<%= labelled_form_for @order, url: url, :html => {:id => 'order-form', :multipart => true} do |f| %>
    <div class="box">
      <fieldset class="tabular"><legend><%= l(:label_change_properties) %></legend>
      <div id="all_attributes">
        <%= labelled_fields_for :order, @order do |f| %>
          <p><%= f.text_field :name, :size => 80, :maxlength => 255, :required => true %></p>
          <p>
            <%= f.label_for_field :description %>
            <%= f.text_area :description,
                            :cols => 60,
                            :rows => 10,
                            :accesskey => accesskey(:edit),
                            :class => 'wiki-edit',
                            :no_label => true %>
          </p>
          <% if User.current.tocat_allowed_to?(:set_internal_orders) && !@order.parent_order.present?%>
            <p>
              <%= f.check_box :internal_order %>
            </p>
          <% end %>
          <% if User.current.tocat_allowed_to?(:update_commission) %>
            <% unless @order.internal_order? || (@parent_order && @parent_order.internal_order?) %>
              <p id="commission-container">
                <%= f.number_field :commission, required: true, in: 0..100, :step => 1 %>
              </p>
            <% end %>
          <% end %>

          <% if params[:team].present? %>
            <p>
              <%= f.select :team, options_for_select(@groups.collect {|t| [t.name, t.id]}, :selected => params[:team]),
                           { :prompt => 'Select Team' }, { disabled: true, 'data-commissions' => @groups_commissions.to_json } %>
            </p>
            <%= f.hidden_field :team %>
          <% else %>
            <p>
              <%= f.select :team, options_for_select(
                                    [['Select Team', 0]] + @groups.collect {|t| [t.name, t.id]},
                                    disabled: 0,
                                    selected: @order.team.blank? ? 0 : @order.team),
                                  { :required => true }, { 'data-commissions' => @groups_commissions.to_json } %>
            </p>
          <% end %>
          <p><%= f.number_field :invoiced_budget, :class => 'invoiced_budget', :step => 0.01, :required => true %></p>
          <p><%= f.number_field :allocatable_budget, :class => 'allocatable_budget', :step => 0.01, :required => true %></p>
          <% if @order.parent_order.present? %>
            <%= f.hidden_field :parent_order, value: @order.parent_order %>
          <% end %>
        <% end %>
        <% if params[:redirect_to].present? %>
          <%= hidden_field_tag 'redirect_to', params[:redirect_to] %>
          <p><%= label_tag "Task budget" %> <%= number_field_tag :budget, '', :class => 'budget', :step => 0.01, :required => true, :disabled => true %></p>
          <script>
            jQuery.noConflict()(function(){
              jQuery.noConflict()('.allocatable_budget').on('change', function() {
                jQuery.noConflict()(".budget").prop('max',+jQuery.noConflict()('.allocatable_budget').val());
                jQuery.noConflict()(".budget").prop('disabled', false);
              });
            });
           </script>
        <% end %>
      </div>
      </fieldset>
    </div>
    <%= submit_tag l(:button_submit) %>
    | <%= link_to l(:button_cancel), {controller: :orders, action: :index} %>
<% end %>
