<%= render partial: 'action_menu' %>
<h2><%= l(:label_order_heading) + " #{@order.id}" %> </h2>
<div class="issue details">
  <div class="subject"><h3><%= @order.name %></h3></div>
  <table class="attributes">
    <%= order_fields_rows do |rows|

      if @order.attributes.include? 'invoiced_budget'
        rows.left l(:field_invoiced_budget), @order.invoiced_budget, :class => 'invoiced_budget'
      end

      if @order.attributes.include? 'allocatable_budget'
        rows.left l(:field_allocatable_budget), @order.allocatable_budget, :class => 'allocatable_budget'
      end

      if @order.attributes.include? 'paid'
        rows.right l(:field_paid),(@order.paid ? image_tag('true.png') : image_tag('false.png')), :class => 'paid'
      end

      if @order.attributes.include? 'free_budget'
        rows.left l(:field_free_budget), @order.free_budget, :class => 'free-budget'
      end

      if @order.attributes.include? 'completed'
        rows.right l(:field_completed), (@order.completed ? image_tag('true.png') : image_tag('false.png')), :class => 'completed'
      end

      if @order.attributes.include? 'team'
        rows.left l(:field_team), @order.get_team.name, :class => 'team'
      end

      if @parent.present?
        rows.right l(:field_parent_order),  link_to(@parent.name, order_path(@parent)), :class => 'parent_order'
      end

      rows.left l(:field_fmr), @order.fmr, :class => 'fmr'

    end %>
  </table>
  <hr />
  <div class="description">
    <p><strong><%=l(:field_description)%></strong></p>
    <div class="wiki">
      <%= @order.description %>
    </div>
  </div>
  <hr />
  <div id="invoice">
    <% invoice = @order.get_invoice %>
    <div class="contextual"><%= link_to_new_invoice(@order) if User.current.tocat_allowed_to?(:create_invoices) %></div>
    <p><strong><%=l(:label_invoice)%></strong></p>
    <% if invoice.present? %>
      <div class = 'autoscroll'>
        <table class = 'list issues' style="text-align: center;">
          <thead><tr>
            <td>#</td>
            <td><%= l(:label_total) %></td>
            <td><%= l(:label_paid) %></td>
          </tr>
        </thead>
        <tbody>
          <tr id='<%= invoice.id %>' class = 'even issue'>
            <td class = 'id'>
              <%= link_to invoice.external_id, invoice_path(invoice.id) %>
            </td>
            <td class = 'total'>
              <%= invoice.total %>
            </td>
            <td class = 'paid'>
              <%= get_paid_icon(invoice) %>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    <% end %>
  </div>

  <% unless @parent.present?%>
  <hr />
  <div id="orders_tree">
    <div class="contextual"><%= link_to l(:button_add), new_order_path(split: @order.id) if User.current.tocat_allowed_to?(:create_orders) %></div>
    <p><strong><%=l(:label_suborder_plural)%></strong></p>
    <%= render :partial => 'orders', locals: {orders: @order.sub_orders } if @order.sub_orders.present? %>
  </div>
  <% end %>
  <hr />
  <div id="tasks_tree">
    <!-- <div class="contextual"><%#= link_to l(:button_add), '' if User.current.tocat_allowed_to?(:manage_budgets) %></div> -->
    <p><strong><%=l(:label_issue_plural)%></strong></p>
    <%= render :partial => 'issues', locals: {issues: @order.issues } if @order.tasks.present? %>
  </div>

</div>
<div style="clear: both;"></div>
<%= render partial: 'action_menu' %>
<div style="clear: both;"></div>
<% if @order.editable? %>
<div id="update" style="display:none;">
  <h3><%= l(:button_edit) %></h3>
  <%= render :partial => 'edit' %>
</div>
<% end %>

<% html_title "TOCAT: Order ##{@order.id}" %>
