<%= render partial: 'action_menu' %>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script charset="utf-8">jQuery.noConflict();
jQuery.noConflict().ajaxPrefilter(function (options, originalOptions, jqXHR) {
  jqXHR.setRequestHeader('X-CSRF-Token', jQuery.noConflict()('meta[name=csrf-token]').attr('content'));
});
</script>

<h2><%= l(:label_order_heading) + " #{@order.id}" %> </h2>
<div class="issue details">
  <div class="subject"><h3><%= @order.name %></h3></div>
  <table class="attributes">
    <%= order_fields_rows do |rows|

      if @order.attributes.include? 'invoiced_budget'
        rows.left l(:field_invoiced_budget), @order.invoiced_budget, :class => 'invoiced_budget'
      end

      if @order.attributes.include? 'allocatable_budget'
        rows.left l(:field_allocatable_budget), @order.allocatable_budget, :class => 'allocatable_budget'
      end

      if @order.attributes.include? 'paid'
        rows.right l(:field_paid),(@order.paid ? image_tag('true.png') : image_tag('false.png')), :class => 'paid'
      end

      if @order.attributes.include? 'free_budget'
        rows.left l(:field_free_budget), @order.free_budget, :class => 'free-budget'
      end

      if @order.attributes.include? 'completed'
        rows.right l(:field_completed), (@order.completed ? image_tag('true.png') : image_tag('false.png')), :class => 'completed'
      end

      if @order.attributes.include? 'team'
        rows.left l(:field_team), @order.get_team.name, :class => 'team'
      end

      if @parent.present?
        if @parent.class == OpenStruct
          rows.right l(:field_parent_order),  @parent.name, :class => 'parent_order'
        else
          rows.right l(:field_parent_order),  link_to(@parent.name, order_path(@parent)), :class => 'parent_order'
        end
      end

      rows.right l(:label_suborder),  (@parent.present? ? image_tag('true.png') : image_tag('false.png')), :class => 'sub_order'

      rows.left l(:field_fmr), @order.fmr, :class => 'fmr'

    end %>
  </table>
  <hr />
  <div class="description">
    <p><strong><%=l(:field_description)%></strong></p>
    <div class="wiki">
      <%= @order.description %>
    </div>
  </div>
  <hr />
  <div id="invoice">
    <% invoice = @order.get_invoice %>
    <% unless @order.attributes[:parent_order].attributes[:id].present? %>
      <% unless invoice.present? %>
        <div class="contextual">
        <% if User.current.tocat_allowed_to?(:create_invoices) %>
          <span class='icon icon-edit' style='cursor:pointer;' onclick='invoice_dialog(this)'>Add</span>
        <% end %>
        </div>
        <script>
        function setInvoice(){
          var data = {
                      invoice_id:jQuery.noConflict()('#invoices').val(),
                      }
          jQuery.noConflict().ajax({
            type: "POST",
            url: "<%= order_invoices_path %>",
            data: data,
            beforeSend: function( xhr ) {
              jQuery.noConflict()('#ajax-indicator').show();
            },
            success: function(data) {
              hideModal();
              console.log('ads');
              document.getElementById('invoice-box').innerHTML = data;
              jQuery.noConflict()('#ajax-indicator').hide();
            },
            error: function(data) {
              alert(data.responseText);
              jQuery.noConflict()('#ajax-indicator').hide();
            },
            dataType: 'JSON'
          });
        };

        function invoice_dialog(){
          jQuery.noConflict().ajax('<%= order_invoices_path %>', {
            asynchronous: true,
            method: 'get',
            beforeSend: function( xhr ) {
              jQuery.noConflict()('#ajax-indicator').show();
            },
            success: function(data) {
              jQuery.noConflict()('#ajax-indicator').hide();
            },
            error: function(data) {;
              jQuery.noConflict()('#ajax-indicator').hide();
            },
          });
        };
        </script>
      <% end %>
    <% end %>
    <span id='invoice-box'><%= render :partial => 'invoices', locals: {invoice: @order.get_invoice } %></span>

  </div>

  <% unless @parent.present?%>
  <hr />
  <div id="orders_tree">
    <div class="contextual"><%= link_to l(:button_add), new_order_path(split: @order.id) if User.current.tocat_allowed_to?(:create_orders) && @order.completed == false %></div>
    <p><strong><%=l(:label_suborder_plural)%></strong></p>
    <%= render :partial => 'orders', locals: {orders: @order.sub_orders } if @order.sub_orders.present? %>
  </div>
  <% end %>
  <hr />
  <div id="tasks_tree">
    <!-- <div class="contextual"><%#= link_to l(:button_add), '' if User.current.tocat_allowed_to?(:manage_budgets) %></div> -->
    <p><strong><%=l(:label_issue_plural)%></strong></p>
    <%= render :partial => 'issues', locals: {issues: @order.issues } if @order.tasks.present? %>
  </div>
  <% if User.current.tocat_allowed_to?(:show_activity_feed) %>
    <% activities = @order.activity %>
    <% if activities.any? %>
      <hr />
      <div id="activity">
        <p><strong><%=l(:label_activity)%></strong></p>
        <%= render :partial => 'activity/feed', locals: {activities: activities } %>
      </div>
    <% end %>
  <% end %>

</div>
<div style="clear: both;"></div>
<%= render partial: 'action_menu' %>
<div style="clear: both;"></div>
<% if @order.editable? %>
<div id="update" style="display:none;">
  <h3><%= l(:button_edit) %></h3>
  <%= render :partial => 'edit' %>
</div>
<% end %>

<% html_title "TOCAT: Order ##{@order.id}" %>
