<h2> <%= l(:label_issue_plural)%> </h2>


<%= form_tag("/tocat/issues", method: "get") do %>
  <%= hidden_field_tag 'set_filter', '1' %>
  <fieldset id="filters" class="collapsible">
    <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
    <div>
      <table style="width:100%">
        <tbody>
          <tr>
            <td>
            <table id="filters-table">
              <tbody>
                <tr class="filter" id="name">
                  <td><%= label_tag(:search, l(:label_search)) %></td>
                  <td><%= text_field_tag(:search, params[:search]) %></td>
                </tr>
                <tr class="filter" id="paid">
                  <td><%= label_tag(:paid, l(:label_paid)) %></td>
                  <td><%= select_tag(:paid, options_for_select([[l(:label_yes), 1], [l(:label_no), 0]], selected: params[:paid]), include_blank: true) %></td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <%= submit_tag(l(:button_apply)) %>
    <%= link_to l(:button_clear), { :set_filter => 1 }, :class => 'icon icon-reload'  %>
    <hr/>
  </fieldset>
<% end %>

<p class="pagination"><%= pagination_links_full @tasks_pages, @tasks_count %></p>
<style>
fieldset#filters table td {
  padding-right: 10px;
}
</style>
<div class = 'autoscroll'>
  <table class = 'list issues' style="text-align: center;">
    <thead><tr>
      <th>#</th>
      <th><%= l(:label_subject) %></th>
      <th><%= l(:label_project) %></th>
      <%= sort_header_tag('budget', :caption => l(:label_budget)) %>
      <th><%= l(:label_resolver) %></th>
    </tr>
  </thead>
  <tbody>
    <%@tasks.each do |task| %>
    <% if task.redmine.present?%>
      <tr id='<%= task.id %>' class = '<%= cycle('odd', 'even')%> issue'>
        <td class = 'id'>
          <%= link_to task.external_id, issue_path(task.external_id) %>
        </td>
        <td class = 'name'>
          <%= link_to task.redmine.subject, issue_path(task.external_id) %>
        </td>
        <td class = 'project'>
          <%= link_to task.redmine.project.name, project_path(task.redmine.project.id) %>
        </td>
        <td class = 'budget'>
          <%= task.get_budget %>
        </td>
        <td class = 'resolver'>
          <%= task.get_resolver.name if task.get_resolver.present? %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>

<p class="pagination"><%= pagination_links_full @tasks_pages, @tasks_count %></p>
<% html_title "TOCAT : Issues" %>
