<%= render partial: 'tocat/invoices/action_menu'%>
<h2><%= l(:label_order_heading) + " #{@invoice.id}" %> </h2>
<div class="issue details">
  <div class="subject"><h3><%= @invoice.external_id %></h3></div>
  <table class="attributes">
    <%= order_fields_rows do |rows|
      rows.left l(:field_paid), get_paid_icon(@invoice), :class => 'paid'
    end %>
  </table>
    <hr />
    <div id="orders_tree">
      <div class="contextual"><%= link_to l(:button_add), '' %></div>
      <p><strong><%=l(:label_order_plural)%></strong></p>
      <% @invoice.get_orders.each do |order| %>
        <%= link_to order.name, controller: "tocat", action: "show_order", order_id: order.id %></br>
      <% end %>
    </div>
</div>
<div style="clear: both;"><%= render partial: 'tocat/invoices/action_menu'%>
</div>
<div style="clear: both;"></div>
<% html_title "Tocat - Invoice #{@invoice.id}" %>
