<%= error_messages_for 'tocat_role' %>

<div class="box tabular">
<p><%= f.text_field :name, :required => true %></p>
</div>
<h3><%= l(:label_permissions) %></h3>
<div class="box tabular" id="permissions">
  <fieldset><legend>TOCAT Permissions</legend>
  <% @permissions.each do |permission| %>
    <fieldset><legend><%= l_or_humanize(permission.first, :prefix => 'permission_') %></legend>
      <% permission.second.each do |r| %>
        <label class="floating">
        <%= check_box_tag 'tocat_role[permissions][]', r, (@role.permissions.include?(r.to_s)) %>
        <%= l(r, :prefix => 'permission_') %>
        </label>
      <% end %>
    </fieldset>
  <% end %>
  </fieldset>
<br /><%= check_all_links 'permissions' %>
<%= hidden_field_tag 'tocat_role[permissions][]', '' %>
</div>
