<div class = "transactionsContainer"  style = "height: 350px">
  <%if transactions%>
      <div class="autoscroll">
        <table class="list transactions">
          <label><%= account_name.to_s +	l(:label_transactions)  %></label>
          <thead>
          <tr>
            <th><%=	l(:label_date)  %></th>
            <th><%=	l(:label_comment)  %></th>
            <th>Total,$</th>
          </tr>
          </thead>
          <tbody>
          <% transactions.first(10).each do |t|%>
              <tr class="<%= cycle("odd", "even") %>">
                <td align="center"> <%= Time.parse(t.date)%> </td>
                <td align="center"> <%= t.comment%> </td>
                <td align="center" nowrap> <%= t.total%> </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
  <%else%>
      <div><%=	l(:label_no_data_)  %></div>
  <% end %>
</div>
